* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #666;
}

img {
  width: 150px;
}

.bg-yellow {
  background-color: #eac926;
}

.bg-light-grey {
  background-color: #ebebeb;
}

.bg-white {
  background-color: white;
}

.ta-c {
  text-align: center;
}
