body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #666;
}

img {
  width: 150px;
}

.bg-yellow {
  background-color: #eac926;
}

.bg-light-grey {
  background-color: #ebebeb;
}

.bg-white {
  background-color: white;
}

.c-blue {
  color: #03264c;
}

.c-dark-grey {
  color: #666;
}

.c-light-grey {
  color: #ebebeb;
}

.ta-c {
  text-align: center;
}

.vw-90 {
  width: 90vw;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-10 {
  margin-bottom: 10px;
}

.m-20 {
  margin: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.p-20 {
  padding: 20px;
}

.bt-1 {
  border-top-style: solid;
  border-top-width: 1px;
}

.border-grey {
  border-color: #ebebeb;
}

.fsz-24 {
  font-size: 24px;
}

.fsz-18 {
  font-size: 18px;
}

.fsz-16 {
  font-size: 16px;
}

.fsz-12 {
  font-size: 12px;
}

.fsz-2em {
  font-size: 2em;
}

.w-50pr {
  width: 50%;
}

.hamburguer-button {
  background-color: #03264c;
  color: #ffffff;
  display: block;
  max-width: 50px;
  padding: 10px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 25px;
  margin: auto;
}

.d-n {
  display: none;
}

.d-flex {
  display: flex;
}
.fw-w {
  flex-wrap: wrap;
}

.fd-column {
  flex-direction: column;
}

.jc-sa {
  justify-content: space-around;
}

.jc-sb {
  justify-content: space-between;
}

/*tablet*/
@media (min-width: 520px) {
  .md-product-shadow {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .d-flex-520 {
    display: flex;
  }
  .d-n {
    display: flex;
    justify-content: space-between;
  }
  .hamburguer-button {
    display: none;
  }
  .mr-5 {
    margin-right: 5px;
  }
  .ml-5 {
    margin-left: 5px;
  }
  .
}

/*desktop*/
@media (min-width: 1280px) {
}
