body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #666;
}

/* Tamaño de la fuente */

.fsz-24 {
  font-size: 24px;
}

.fsz-18 {
  font-size: 18px;
}

.fsz-16 {
  font-size: 16px;
}

.fsz-12 {
  font-size: 12px;
}

/* ------ */

/* Header */
.main-header {
  background-color: #eac926;
  padding: 20px;
}

.hamburguer-button {
  background-color: #03264c;
  color: #ffffff;
  display: block;
  max-width: 50px;
  padding: 15px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

.logo {
  width: 200px;
}

.copy-header {
  font-weight: 400;
  text-align: center;
}

.main-navbar {
  display: none;
}

.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

/* ------ */

/* Main */

main {
  background-color: #ebebeb;
  margin: auto;
  width: 90%;
}
.articles {
  background-color: #fff;
  margin-top: 10px;
}

img {
  width: 150px;
}

.product-details > .delivery-icon {
  display: block;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.product-details {
  position: relative;
  border-top: 1px solid #ebebeb;
  padding: 15px;
}

.delivery-icon {
  color: #39b54a;
}

.price-detail {
  display: flex;
}

.price {
  width: 30%;
  font-size: 18px;
}

.discount {
  width: 70%;
  font-size: 16px;
  color: #39b54a;
}

/* ------ */

/* Footer */

.section-footer {
  text-align: center;
  margin: 40px;
  padding-top: 20px;
}

.icono-footer {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}

.copy {
  margin: 20px;
}

/* ------ */

/*tablet*/
@media (min-width: 520px) {
  .md-product-shadow {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .main-header-top-bar {
    display: flex;
    justify-content: space-between;
  }
  .copy-header {
    max-width: 350px;
    text-align: right;
  }
  .hamburguer-button {
    display: none;
  }
  .main-navbar {
    display: flex;
    justify-content: space-between;
  }
  .main-navbar ul {
    display: flex;
  }
  .main-navbar li {
    margin: 0 5px;
  }
}

/*desktop*/
@media (min-width: 1280px) {
  .logo {
    width: 250px;
  }
  .main-header-top-bar,
  .main-navbar {
    max-width: 1200px;
    margin: auto;
  }
  .main-header-top-bar {
    align-items: center;
  }
  .copy-header {
    max-width: none;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
  }
  .main-navbar {
    margin-top: 40px;
  }
  .main-navbar li {
    margin: 0 10px;
  }
  .main-navbar a {
    font-size: 19px;
  }
}
